extends layout

block myContent

  body
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content.m-4
        // Topbar
        // End of Topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          // Page Wrapper
          .py-5.text-center
            .container
              .row
                .mx-auto.col-lg-8.col-10
                  h1 UPDATE USER
                  |                   
                  form.user(method='post', action='submitUpdateUserBut')
                    .row
                      .form-group.col-6
                        input#inputFirstName.form-control.form-control-user(type='text',  placeholder='First Name', name='inputFirstName', value=data.fname, required='required')
                      |                       
                      .form-group.col-6
                        input#inputLastName.form-control.form-control-user(type='text',  placeholder='Last Name', value=data.lname,  name='inputLastName')
                    |                     
                    .form-group
                      input#inputEmail.form-control.form-control-user(type='text',  placeholder='Email Address', value=data.email, name='inputEmail')
                    |                     
                    .form-group
                      input#inputNationality.form-control.form-control-user(type='text',  placeholder='Nationality', value=data.nationality,, name='inputNationality')
                    |                     
                    .row
                      // hidden oldTripName
                      .form-group 
                        input#inputTripName.form-control.form-control-user(type='text',  value=data.tripName, name='inputOldTripName' hidden)
                      |                       
                      // hidden oldphoneNumber
                      .form-group 
                        input#inputNumber.form-control.form-control-user(type='text',  value=data.phoneN, name='inputOldNumber' hidden)
                      |                       
                      .form-group.col-6
                        input#inputNumber.form-control.form-control-user(type='text',  placeholder='New Phone Number', value=data.phoneN, name='inputNumber', required='required')
                      |                       
                      .form-group.col-6
                        input#inputNGuests.form-control.form-control-user(type='text',  placeholder='Number Of Guests', value=data.nOfGuests, name='inputNGuests')
                    |                     
                    .row
                      .form-group.col-6
                        input#inputDate.form-control.form-control-user(type='date',  name='inputDate', value=data.date, required='required')
                      |                       
                      .form-group.col-6
                        input#inputTime.form-control.form-control-user(type='time',  name='inputTime', value=data.time, required='required')
                    |                     
                    .row
                      .form-group.col-12
                        input#inputDate.form-control.form-control-user(type='text', placeholder="Note", value=data.notes, name='inputNote')
                    |                     
                    .row
                      .form-group.col-6
                        input#inputTripPrice.form-control.form-control-user(type='text',  placeholder='Trip Price', value=data.price, name='inputTripPrice')
                      |                       
                      .form-group.col-6
                        input#inputTripExtraPrice.form-control.form-control-user(type='text',  placeholder='Trip Extra Price', value=data.extraCash, name='inputTripExtraPrice')
                    |                     
                    .row
                      .form-group.col-6
                        select#inputTripName.form-control(name='inputTripName' )
                          - var tripsName=["Night city Walk","Khan El Khalili","The Pyramids","The Citadel of Salah al-Din","Alexandria","Other"]
                          - for (var x = 0; x < tripsName.length; x++){
                            if data.tripName===tripsName[x]
                              option(value=tripsName[x] selected="selected")=tripsName[x]
                            else
                              option(value=tripsName[x])=tripsName[x]
                          -}
                      |                       
                      .form-group.col-6
                        select#inputWebsite.form-control(name='inputWebsite', required='required')
                          - var tripsWebsite=["FREETOUR","Airbnb","Guru Walk","Trip Advisor","Other"]
                          - for (var x = 0; x < tripsWebsite.length; x++){
                            if data.tripWebsite===tripsWebsite[x]
                              option(value=tripsWebsite[x] selected="selected")=tripsWebsite[x]
                            else
                              option(value=tripsWebsite[x])=tripsWebsite[x]
                          -}
                      | 
                    .row
                      .form-group.col-12
                        select#inputWebsite.form-control(name='inputKpay', required='required')
                          if data.kpay=='1'
                            option(value='1' selected="selected") Money received
                            option(value='0') Money not received          
                          else 
                            option(value='1') Money received
                            option(value='0' selected="selected") Money not received          

                    button.btn.btn-dark.btn-user.btn-block(type='submit')  UPDATE
                    |                       
                    hr
            |             
            #wrapper
            // /.container-fluid
          // End of Main Content